@font-face {
    font-family: 'pix PixelFJVerdana12pt';
    src: url('fonts/pixPixelFJVerdana12pt.woff2') format('woff2'),
        url('fonts/pixPixelFJVerdana12pt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body{
  height: 100%;
  margin: 0 !important;
}

html{
  background-color: rgb(75,171,95);
  margin: 0;
  padding: 0;
  min-height: 100%;

}

footer{
  width:100%;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(45, 141, 55);
  position: static;
  bottom: 0;
  height: 5%;
}

.full{
  height: 100%;
}

.header {
  position: relative;
  background-color: rgb(29,115,78);
  font-family: sans-serif;
  text-align: center;
  font-size: 48px;
  width: 100%;
  height: 10% !important;
  max-height: 25%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
}

.logo{
  width: auto;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#spinning {
		-webkit-animation: rotation 2s infinite;
}

.image{
  text-align: center;
}

.pokeImg{
  width: 10%;
  height: auto;
  padding: auto;
  align: center;
}

.truckGif{
  width: 300px;
  height: auto;
  -webkit-animation: slide 3s infinite linear;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}


.road{
    background-image: url("road.png");
    background-position: center;
    background-repeat: repeat-x;
    height: auto;
    width:100%;
    padding-top: 2px;
}

@-webkit-keyframes slide{
    from {
      left: -50px;
    }
    to{
      left: 110%;
    }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

h1{
  font-family: 'pix PixelFJVerdana12pt', cursive;
  font-size: 78px;
}

p{
  font-size: 28px;
}

.content{
  padding: 5em;
  text-align: center;
  vertical-align: middle;
}

.container{
  height: 25%;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

.loadsplash{
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  position: relative;
}

.wrapper{
  text-align: center;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.mapstyle{
  text-align: center;
  background-color: rgb(29,115,78);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 40%;
}

iframe{
  width:80%;
  min-height: 600px;
  height:80%;
}