*{
  margin: 0;
  padding: 0;
}

html{
  background-color: rgb(75,171,95);
  margin: 0px;
}

.header {
  background-color: rgb(29,115,78);
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  width: 100%;
  height: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1{
  font-family: 'Indie Flower', cursive;
}

p{
  font-size: 28px;
}

.content{
  text-align: center;
  margin: 4em;
}
